---
import "@fontsource-variable/mulish";
import WhyChooseUs from "@components/why-choose-us.astro";
import Header from "@components/header.astro";
import Services from "@components/services.astro";
import AboutUs from "@components/about-us.astro";

import { titulo, descripcion, keywords } from "@assets/business-data.json";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href="https://effortia.com.co" />
		<title>{titulo}</title>
		<meta name="keywords" content={keywords} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@carlos_delbarre" />
		<meta name="twitter:creator" content="@carlos_delbarre" />
		<meta name="twitter:title" content={titulo} />
		<meta name="twitter:description" content={descripcion} />
		<meta name="twitter:image" content="/og.jpg" />

		<meta name="og:image" content="/og.jpg" />
		<meta name="og:title" content={titulo} />
		<meta name="og:description" content={descripcion} />
		<meta name="og:url" content="https://effortia.com.co" />
		<meta name="og:site_name" content="Effortia Solutions" />
		<meta name="og:type" content="website" />
		<meta name="og:locale" content="es_ES" />

		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
	</head>
	<body>
		<Header />
		<AboutUs />
		<WhyChooseUs />
		<Services />
		<p>trabajos realizados</p>
		<p>footer</p>
	</body>
</html>

<style is:global>
	body {
		@apply text-slate-700;
		font-family: "Mulish Variable", sans-serif;
	}

	p {
		@apply leading-normal;
	}
</style>
