---
import Section from "@components/ui/section.astro";
import Title from "@components/ui/title.astro";

import { servicios } from "@assets/business-data.json";
---

<div class="bg-gray-800 rounded-xl mx-3 md:mx-10">
    <Section>
        <header class="text-white">
            <Title
                text="Nuestros servicios que te ayudan a crecer"
                className="text-white text-center max-w-[20ch] mx-auto"
            />
        </header>
        <div
            class="grid md:grid-cols-2 lg:grid-cols-3 gap-y-10 lg:gap-y-0 md:gap-x-4 lg:gap-x-16 mt-16"
        >
            {
                servicios.map(
                    ({ title, thumbail, descripcion, alt, items }) => {
                        return (
                            <article class="transition-transform duration-500 ease-in-out hover:scale-105">
                                <div class="aspect-square rounded-t-lg bg-gray-100 ">
                                    <img
                                        src={thumbail}
                                        alt={alt}
                                        class="rounded-t-md aspect-square object-cover"
                                        loading="lazy"
                                    />
                                </div>
                                <div class="p-8 bg-white rounded-b-lg space-y-1">
                                    <h3 class="font-bold text-lg text-primary">
                                        {title}
                                    </h3>
                                    <p>{descripcion}</p>
                                    <ul class="list-disc pl-4 pt-4">
                                        {items.map((item) => (
                                            <li>
                                                <strong>{item}</strong>
                                            </li>
                                        ))}
                                    </ul>
                                </div>
                            </article>
                        );
                    },
                )
            }
        </div>
    </Section>
</div>
